$arrow-size: 8px;

.time {
  color: #666;
  font-size: 12px;
  text-align: center;
  margin: 6px 0;
}

.message {
  padding: 0 6px;
  align-items: flex-start;
  margin: 16px 0;

  .user {
    font-size: 80%;
    cursor: pointer;
    margin: 0 0 8px;
  }

  .content {
    position: relative;
    max-width: 240px;
    padding: 10px;
    margin: 6px 0 0;
    $background: #f6f6f6;
    background: $background;
    word-wrap: break-word;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -$arrow-size;
      left: 0;
      border: $arrow-size solid transparent;
      border-width: 0 $arrow-size $arrow-size 0;
      border-bottom-color: $background;
    }
  }

  &.mine {
    align-items: flex-end;

    .content {
      margin: 0 0 6px;
      color: white;
      $background: #2c97e8;
      background: $background;

      &:after {
        top: auto;
        left: auto;
        bottom: -$arrow-size;
        right: 0;
        border: $arrow-size solid transparent;
        border-width: $arrow-size 0 0 $arrow-size;
        border-top-color: $background;
      }
    }

    .operations {
      position: relative;
      left: 10px;
      top: -8px;
      transition: all .2s ease-in;
    }
    &:not(:hover) .operations {
      opacity: 0;
      left: 20px;      
    }
  }

  &.mentioned {
    .content {
      $background: #fffdcb;
      background: $background;

      &:after {
        border-bottom-color: $background;
      }
    }
  }
}

.action-message {
  color: #666;
  font-size: 14px;
  background: #bbb;
  padding: 6px;
}

.tips {
  color: #666;
  font-size: 12px;
  text-align: center;
  margin: -14px 12px 4px 0;
}

@keyframes fadeInOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

[animation="fadeInOut"] {
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-name: fadeInOut;
}
