$toolbar-height: 64px - 1px;
.menu-button {
  position: relative;

  .unreadCount {
    position: absolute;
    top: 3px;
    right: 4px;
  }
}

.md-toolbar-tools {
  background-color: rgb(33, 150, 243);
}

.md-errors-spacer:empty {
  display: none;
}

.md-resize-handle:empty {
  display: none;
}

.editor {
  max-width: 480px;

  &-wrapper {
    min-height: 58px;
  }

  .textarea {
    padding: 12px 8px;
    margin: 0;
  }
}

.max-results-amount-hint {
  color: rgba(0,0,0,.5);
  text-align: center;
  font-size: 0.9em;
}

.messages {
  background-color: transparent;
  height: 0;

  &-wrapper {
    max-width: 480px;
    margin: 0 auto;
  }
}

.search-box {
  height: $toolbar-height;
  line-height: $toolbar-height;

  input {
    outline: none;
    border: none;
    height: $toolbar-height;
  }
}

md-list.result,
md-list.square-clients {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.result-item {
  padding-left: 60px - 16px;
}
