* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
}

h1 {
    font-size: 22px;
}

input {
    padding: 2px 3px;
    width: 100px;
    border: 1px solid #ccc;
    margin: 5px;
}

a {
    color: #00f;
}

.btn {
    height: 22px;
    line-height: 22px;
    padding: 1px 10px;
    background-color: #2C97E8;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition:opacity 0.8s;
}
.btn:hover {
    opacity: 0.6;
}
.btn:active {
    opacity: 1;
}

.strong {
    color: #f00;
}

.item {
    margin: 10px 0px;
}

.item p {
    margin: 5px;
}

.input-send {
    width: 350px;
}

.change-cid {
    margin: 20px auto;
    border: 1px solid #ae0000;
    max-width: 512px;
    width: 88%;
    padding: 10px;
}

.change-cid input {
    width: 200px;
}

.print-wall {
    overflow: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
    height: 300px;
    max-width: 800px;
    width: 84%;
    text-align: left;
}

.print-wall p {
    margin: 10px 0px;
    word-wrap: break-word;
}
