<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.leancloud.im.guide"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.leancloud.im.guide.Application"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity  android:name="com.leancloud.im.guide.AVLoginActivity"/>
        <activity android:name="com.leancloud.im.guide.AVSquareActivity"
            android:launchMode="singleTask"/>

        <activity android:name="com.leancloud.im.guide.AVSquareMembersActivity"/>
        <activity android:name="com.leancloud.im.guide.AVSingleChatActivity"/>
        <activity android:name="com.leancloud.im.guide.AVLaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>
