/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@font-face {
  font-family: 'radikal';
  src: url('../assets/fonts/nootype_-_radikal_bold-webfont.eot');
  src: url('../assets/fonts/nootype_-_radikal_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/nootype_-_radikal_bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/nootype_-_radikal_bold-webfont.woff') format('woff'),
       url('../assets/fonts/nootype_-_radikal_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font:  1.5em 'radikal';
  color: #2c97e8;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ui-view] {
  height: 100%;
  background-color: rgba(0,0,0,.1);
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
